/*h1 {
    background-color:bisque;
}
h2{
    background-color: cadetblue;
}*/
.box1{
    background-color: antiquewhite;
}
.box2{
    background-color: red;
    /* 1 giá trị(cách xung quanh=giá trị đó)*/
    /*2 giá trị: giá trị đầu(trên,dưới);gtri sau(trái,phải)*/
    /*4 giá trị: trên-> phải -> dưới -> trái*/
    /*margin: 50px 10px 100px 30px;*/
    width: 50px auto;/*auto là cân khối ra giữa,50px là cân ra giữa có trên dưới cách 50px*/
    
}