body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:grey;
    font-size:14;
}
.title{
    justify-content: center;
    display:flex;
    color:blue;

}
.container{
    justify-content:center;
    margin:auto;
    width:50%;
    height:70vh;
    background:white;

}
.title1 h2{
    align-items: center;
    justify-content: center;
    display:flex;
}
.tieu-de p{
    display:flex;
    justify-content: center;
    margin-top:-20px;
    font-size:13px;
}
